<custom-component>
    <script>
        //# sourceURL=html/components/calendar.html
        class Calendar extends Component {
            static msgs = {
                CALENDAR_BEFORE_MONTH_CHANGED: `CALENDAR_BEFORE_MONTH_CHANGED`,
                CALENDAR_AFTER_MONTH_CHANGED: `CALENDAR_AFTER_MONTH_CHANGED`,
                CALENDAR_BEFORE_SELECTED_DATE_CHANGED: `CALENDAR_BEFORE_SELECTED_DATE_CHANGED`,
                CALENDAR_AFTER_SELECTED_DATE_CHANGED: `CALENDAR_AFTER_SELECTED_DATE_CHANGED`,
            }
            afterMount() {
                super.afterMount()
                this.createCalendar()
            }
            createCalendar() {
                const year = this.vars.year
                const month = this.vars.month
                const day = this.vars.day
                const date = new Date(year, month, day)
                const dayOfTheMonth = new Date(year, month, 1, 0, 0, 0, 0)
                let rowCount = 0
                let emptyCellCount = 0
                const makeTable = () => {
                    const tableId = `${this.id}Table`
                    const table = document.createElement(`table`)

                    table.id = tableId
                    table.classList.add(`calendar`)
                    return table
                }
                const makeHeaderRow = () => {
                    const headerRowId = `${this.id}TableHeaderRow`
                    const headerRow = document.createElement(`tr`)

                    headerRow.id = headerRowId
                    headerRow.classList.add(`calendar-row`)
                    return headerRow
                }
                const makeHeaderCell = (dayCode) => {
                    const headerCellId = `${this.id}TableHeaderCell${dayCode}`
                    const headerCell = document.createElement(`td`)

                    headerCell.id = headerCellId
                    headerCell.classList.add(`calendar-header-cell`)
                    headerCell.innerText = dayCode
                    return headerCell
                }
                const makeRow = () => {
                    const headerRowId = `${this.id}TableRow${rowCount}`
                    const headerRow = document.createElement(`tr`)

                    rowCount++
                    headerRow.id = headerRowId
                    headerRow.classList.add(`calendar-row`)
                    return headerRow
                }
                const makeEmptyCell = () => {
                    const emptyCellId = `${this.id}TableEmptyCell${emptyCellCount}`
                    const emptyCell = document.createElement(`td`)

                    emptyCellCount++
                    emptyCell.id = emptyCellId
                    emptyCell.classList.add(`calendar-empty-cell`)
                    return emptyCell
                }
                const makeCellId = (dayOfTheMonth) => { return `${this.id}TableCell_${dayOfTheMonth.getDate()}_${dayOfTheMonth.getMonth()}_${dayOfTheMonth.getFullYear()}` }
                const getDateFromId = (id) => { 
                    const dateElements = id.split(`_`)
                    const year = dateElements[3]
                    const month = dateElements[2]
                    const day = dateElements[1]
                    const date = new Date(year, month, day)

                    return date
                }
                const makePastCell = (dayOfTheMonth) => {
                    const pastCellId = makeCellId(dayOfTheMonth)
                    const pastCell = document.createElement(`td`)

                    pastCell.id = pastCellId
                    pastCell.dayOfTheMonth = dayOfTheMonth
                    pastCell.classList.add(`calendar-past-cell`)
                    pastCell.innerText = dayOfTheMonth.getDate()
                    return pastCell
                }
                const makeCell = (cellDayOfTheMonth, isSelected = false) => {
                    const cellId = makeCellId(cellDayOfTheMonth)
                    const cell = document.createElement(`td`)
                    const className = isSelected? `calendar-cell-selected` : `calendar-cell`

                    cell.id = cellId
                    cell.dayOfTheMonth = cellDayOfTheMonth
                    cell.classList.add(className)
                    cell.innerText = cellDayOfTheMonth.getDate()

                    const onClick = () => {
                        Queue.broadcast(Calendar.msgs.CALENDAR_BEFORE_SELECTED_DATE_CHANGED, this)
                        if (null != this.vars.selectedDate) {
                            const currentlySelectedCellId = makeCellId(this.vars.selectedDate)
                            const currentlySelectedCell = document.getElementById(currentlySelectedCellId)

                            if (currentlySelectedCell) { currentlySelectedCell.classList.toggle(`calendar-cell-selected`) }    // Selected cell can disappear when month changes.
                        }

                        const selectedCell = document.getElementById(cellId)

                        selectedCell.classList.toggle(`calendar-cell-selected`)
                        this.vars.selectedDate = getDateFromId(selectedCell.id)
                        Queue.broadcast(Calendar.msgs.CALENDAR_AFTER_SELECTED_DATE_CHANGED, this)
                    }

                    cell.addEventListener("click", onClick);
                    return cell
                }
                const isDateBeforeToday = (date) => {
                    const now = new Date()

                    if (now.getFullYear() > date.getFullYear()) { return true }
                    if (now.getFullYear() < date.getFullYear()) { return false }
                    if (now.getMonth() > date.getMonth()) { return true }
                    if (now.getMonth() < date.getMonth()) { return false }
                    if (now.getDate() > date.getDate()) { return true }
                    return false
                }
                const table = makeTable()
                const headerRow = makeHeaderRow()
                const dayCodes = [`SU`, `MO`, `TU`, `WE`, `TH`, `FR`, `SA`]

                table.appendChild(headerRow)
                dayCodes.forEach(dayCode => {
                    const headerCell = makeHeaderCell(dayCode)

                    headerRow.appendChild(headerCell)
                })

                this.vars.monthName = dayOfTheMonth.toLocaleString('default', { month: 'long' });

                let currentRow = makeRow()

                // Add empty cells for the first row until the first day of the month
                table.appendChild(currentRow)
                for (let loop = 0; loop < dayOfTheMonth.getDay(); loop++) { 
                    const emptyCell = makeEmptyCell()
                    
                    currentRow.appendChild(emptyCell)
                }

                // Cells with actual dates
                while (dayOfTheMonth.getMonth() == month) {
                    if (isDateBeforeToday(dayOfTheMonth)) {
                        const pastCell = makePastCell(dayOfTheMonth)
                    
                        currentRow.appendChild(pastCell)
                    } else {
                        const cell = makeCell(dayOfTheMonth, false)

                        currentRow.appendChild(cell)
                    }
 
                    const workingDate = dayOfTheMonth.getDate()
                    const workingDay = dayOfTheMonth.getDay()

                    if (workingDay % 7 == 6) { // sunday, last day of week - new row
                        currentRow = makeRow()
                        table.appendChild(currentRow)
                     }     
                    dayOfTheMonth.setDate(workingDate + 1)
                }

                // Add empty cells after last days of month for the last row
                if (0 !== dayOfTheMonth.getDay()) {
                    for (let loop = dayOfTheMonth.getDay(); loop < 7; loop++) { 
                        const emptyCell = makeEmptyCell()
                    
                        currentRow.appendChild(emptyCell)
                    }
                }

                this.BodyElement.removeChildren()
                this.BodyElement.appendChild(table)
            }
            subtractMonth() {
                let date = new Date(this.vars.year, this.vars.month, 1, 0, 0, 0, 0)

                Queue.broadcast(Calendar.msgs.CALENDAR_BEFORE_MONTH_CHANGED, this)
                date.setMonth(date.getMonth() - 1)
                this.vars.year = date.getFullYear()
                this.vars.month = date.getMonth()
                this.createCalendar()
                Queue.broadcast(Calendar.msgs.CALENDAR_AFTER_MONTH_CHANGED, this)
            }
            addMonth() {
                let date = new Date(this.vars.year, this.vars.month, 1, 0, 0, 0, 0)

                Queue.broadcast(Calendar.msgs.CALENDAR_BEFORE_MONTH_CHANGED, this)
                date.setMonth(date.getMonth() + 1)
                this.vars.year = date.getFullYear()
                this.vars.month = date.getMonth()
                this.createCalendar()
                Queue.broadcast(Calendar.msgs.CALENDAR_AFTER_MONTH_CHANGED, this)
            }
            props = {
                pastDatesAreGray: true
            }
            vars = {
                year: new Date().getFullYear(),
                month: new Date().getMonth(),
                monthName: new Date(new Date().getFullYear(), new Date().getMonth(), 1, 0, 0, 0, 0).toLocaleString('default', { month: 'long' }),
                day: new Date().getDate(),
                selectedDate: null
            }
        }
    </script>
    <style>
        :root {
            --calendar-card-flex: column;
            --calendar-card-width: 220px;
            --calendar-card-overflow: hidden ;
            --calendar-card-shadow: none;
            --calendar-card-border-radius: 15px;
            --calendar-card-padding: 5px;
            --calendar-card-margin: 5px;

            --calendar-border-collapse: collapse;

            --calendar-title-display: flex;
            --calendar-title-flex-direction: row;
            --calendar-title-flex-justify-content: space-between;
            --calendar-title-flex-align-items: baseline;
            --calendar-title-width: 210px;
            --calendar-title-height: 30px;
            --calendar-title-color: var(--primary-text-color);
            --calendar-title-text-align: center;
            --calendar-title-font-family: var(--primary-font-family);
            --calendar-title-font-size: var(--text-2-font-size);
            --calendar-title-font-weight: var(--text-2-font-weight);
            --calendar-title-margin-bottom: 10px;
            --calendar-title-cursor: default;

            --calendar-header-width: 210px;
            --calendar-header-height: 30px;
            --calendar-header-color: var(--primary-text-color)black;
            --calendar-header-background-color: var(--blue-50);
            --calendar-header-text-align: center;
            --calendar-header-font-family: var(--primary-font-family);
            --calendar-header-font-size: var(--text-2-font-size);
            --calendar-header-font-weight: var(--text-1-font-weight);
            --calendar-header-cursor: default;

            --calendar-header-cell-width: 30px;
            --calendar-header-cell-height: 30px;
            --calendar-header-cell-color: var(--primary-text-color);
            --calendar-header-cell-background-color: white;
            --calendar-header-cell-text-align: center;
            --calendar-header-cell-font-family: var(--primary-font-family);
            --calendar-header-cell-font-size: var(--text-2-font-size);
            --calendar-header-cell-font-weight: var(--text-1-font-weight);
            --calendar-header-cell-cursor: default;
            --calendar-header-cell-padding: 3px;

            --calendar-cell-width: 30px;
            --calendar-cell-height: 30px;
            --calendar-cell-color: var(--primary-text-color);
            --calendar-cell-background-color: white;
            --calendar-cell-text-align: center;
            --calendar-cell-font-family: var(--primary-font-family);
            --calendar-cell-font-size: var(--text-2-font-size);
            --calendar-cell-font-weight: var(--text-1-font-weight);
            --calendar-cell-cursor: pointer;
            --calendar-cell-padding: 3px;
            --calendar-cell-background: radial-gradient(ellipse at center,  var(--background-color) 0%,var(--background-color) 47%,var(--background-color) 47%,white 47%,white 48%);

            --calendar-past-cell-width: 30px;
            --calendar-past-cell-height: 30px;
            --calendar-past-cell-color: var(--gray-a);
            --calendar-past-cell-background-color: white;
            --calendar-past-cell-text-align: center;
            --calendar-past-cell-font-family: var(--primary-font-family);
            --calendar-past-cell-font-size: var(--text-2-font-size);
            --calendar-past-cell-font-weight: var(--text-1-font-weight);
            --calendar-past-cell-cursor: cursor-not-allowed;
            --calendar-past-cell-padding: 3px;

            --calendar-empty-cell-width: 30px;
            --calendar-empty-cell-height: 30px;
            --calendar-empty-cell-color: var(--gray-a);
            --calendar-empty-cell-background-color: white;
            --calendar-empty-cell-text-align: center;
            --calendar-empty-cell-font-family: var(--primary-font-family);
            --calendar-empty-cell-font-size: var(--text-2-font-size);
            --calendar-empty-cell-font-weight: var(--text-1-font-weight);
            --calendar-empty-cell-cursor: cursor-not-allowed;
            --calendar-empty-cell-padding: 3px;
        }

        .calendar-card {
            flex: var(--calendar-card-flex);
            width: var(--calendar-card-width);
            overflow: var(--calendar-card-overflow);
            box-shadow: var(--calendar-card-shadow);
            border-radius: var(--calendar-card-border-radius);
            padding: var(--calendar-card-padding);
            margin: var(--calendar-card-margin);
        }
        
        .calendar {
            border-collapse: var(--calendar-border-collapse);
        }

        .calendar-title {
            display: var(--calendar-title-display);
            flex-direction: var(--calendar-title-flex-direction);
            justify-content: var(--calendar-title-flex-justify-content);
            align-items: var(--calendar-title-flex-align-items);
            width: var(--calendar-title-width);
            height: var(--calendar-title-height);
            color: var(--calendar-title-text-align);
            text-align: var(--calendar-title-text-align);
            font-family: var(--calendar-title-font-family);
            font-size: var(--calendar-title-font-size);
            font-weight: var(--calendar-title-font-weight);
            margin-bottom: var(--calendar-title-margin-bottom);
            cursor: var(--calendar-title-cursor);
        }
 
        .calendar-row {
            width: var(--calendar-header-width);
            height: var(--calendar-header-height);
            color: var(--calendar-header-color);
            background-color: var(--calendar-header-background-color);
            text-align: var(--calendar-header-text-align);
            font-family: var(--calendar-header-font-family);
            font-size: var(--calendar-header-font-size);
            font-weight: var(--calendar-header-font-weight);
            cursor: var(--calendar-header-cursor);
        }

        .calendar-header-cell {
            width: var(--calendar-header-cell-width);
            height: var(--calendar-header-cell-height);
            color: var(--calendar-header-cell-color);
            background-color: var(--calendar-header-cell-background-color);
            text-align: var(--calendar-header-cell-text-align);
            font-family: var(--calendar-header-cell-font-family);
            font-size: var(--calendar-header-cell-font-size);
            font-weight: var(--calendar-header-cell-font-weight);
            cursor: var(--calendar-header-cell-cursor);
            padding: var(--calendar-header-cell-padding);
        }

        .calendar-cell {
            width: var(--calendar-cell-width);
            height: var(--calendar-cell-height);
            color: var(--calendar-cell-color);
            background-color: var(--calendar-cell-background-color);
            text-align: var(--calendar-cell-text-align);
            font-family: var(--calendar-cell-font-family);
            font-size: var(--calendar-cell-font-size);
            font-weight: var(--calendar-cell-font-weight);
            cursor: var(--calendar-cell-cursor);
            padding: var(--calendar-cell-padding);
        }

        .calendar-cell-selected {
            background: var(--calendar-cell-background);
        }

        .calendar-past-cell {
            width: var(--calendar-past-cell-width);
            height: var(--calendar-past-cell-height);
            color: var(--calendar-past-cell-color);
            background-color: var(--calendar-past-cell-background-color);
            text-align: var(--calendar-past-cell-text-align);
            font-family: var(--calendar-past-cell-font-family);
            font-size: var(--calendar-past-cell-font-size);
            font-weight: var(--calendar-past-cell-font-weight);
            cursor: var(--calendar-past-cell-cursor);
            padding: var(--calendar-past-cell-padding);
        }

        .calendar-empty-cell {
            width: var(--calendar-empty-cell-width);
            height: var(--calendar-empty-cell-height);
            color: var(--calendar-empty-cell-color);
            background-color: var(--calendar-empty-cell-background-color);
            text-align: var(--calendar-empty-cell-text-align);
            font-family: var(--calendar-empty-cell-font-family);
            font-size: var(--calendar-empty-cell-font-size);
            font-weight: var(--calendar-empty-cell-font-weight);
            cursor: var(--calendar-empty-cell-cursor);
            padding: var(--calendar-empty-cell-padding);
        }
    </style>
    <component-markup>
        <div id="{id}" class="calendar-card">
            <div id="{id}TitleBar" class="calendar-title">
                <div id="{id}PreviousMonthButton" class="button w30px" onclick="$obj.subtractMonth()">◀</div>
                <div id="{id}Title">{monthName} {year}</div>
                <div id="{id}NextMonthButton" class="button w30px" onclick="$obj.addMonth()">▶</div>
            </div>
            <div id="{id}Body"></div>
        </div>
    </component-markup>
    <test-script>
    </test-script>
</custom-component>
