<custom-component>
    <script>
        //# sourceURL=html/components/drawer.html
        class Drawer extends SlottedComponent {
            static msgs = {
                DRAWER_BEFORE_OPENED: `DRAWER_BEFORE_OPENED`,
                DRAWER_AFTER_OPENED: `DRAWER_AFTER_OPENED`,
                DRAWER_BEFORE_CLOSED: `DRAWER_BEFORE_CLOSED`,
                DRAWER_AFTER_CLOSED: `DRAWER_AFTER_CLOSED`,
            }
            openDrawer() {
                Queue.broadcast(Drawer.msgs.DRAWER_BEFORE_OPENED, this)
                this.Element.style.width = this.props.contentWidth
                this.Element.classList.toggle(`drawer-hidden`)
                this.Element.classList.toggle(`drawer`)
                Queue.broadcast(Drawer.msgs.DRAWER_AFTER_OPENED, this)
            }
            closeDrawer() {
                Queue.broadcast(Drawer.msgs.DRAWER_BEFORE_CLOSED, this)
                this.Element.style.width = `0`
                this.Element.classList.toggle(`drawer-hidden`)
                this.Element.classList.toggle(`drawer`)
                Queue.broadcast(Drawer.msgs.DRAWER_AFTER_CLOSED, this)
            }
            props = {
                contentWidth: `250px`,
                title: `🍔`
            }
        }
    </script>
    <style>
        :root {
            --drawer-position: fixed;
            --drawer-height: 100%;
            --drawer-width: 0;
            --drawer-top: 0;
            --drawer-left: 0;
            --drawer-z-index: 1;
            --drawer-background-color: var(--gray-e);
            --drawer-overflow-x: hidden; 
            --drawer-border-color: var(--primary-color);
            --drawer-border-width: var(--default-border-width);
            --drawer-border-style: var(--default-border-style);
            --drawer-padding-top: 40px; 
            --drawer-transition: 0.5s;
            --drawer-border-color-hidden: var(--primary-color);
            --drawer-border-width-hidden: 0;
            --drawer-border-style-hidden: none;
            --drawer-padding-top-small-screen: 15px;

            --drawer-a-display: block;
            --drawer-a-color: #818181;
            --drawer-a-text-decoration: none;
            --drawer-a-font-family: var(--primary-font-family);
            --drawer-a-font-size: var(--text-2-font-size);
            --drawer-a-font-weight: normal;
            --drawer-a-padding: 5px;
            --drawer-a-transition: 0.3s;
            --drawer-a-font-size-small-screen: 18px;

            --drawer-close-button-position: absolute;
            --drawer-close-button-top: 0;
            --drawer-close-button-right: 5px;
            --drawer-close-button-font-family: var(--primary-font-family);
            --drawer-close-button-font-size: var(--text-1-font-size);
            --drawer-close-button-font-weight: normal;

            --drawer-open-button-position: absolute;
            --drawer-open-button-top: 15px;
            --drawer-open-button-left: 5px;
            --drawer-open-button-cursor: pointer;

            --drawer-item-color: var(--gray-4);
            --drawer-item-background-color: var(--gray-e);
            --drawer-item-width: 100%;
            --drawer-item-overflow-x: hidden; 
            --drawer-item-font-family: var(--primary-font-family);
            --drawer-item-font-size: var(--text-2-font-size);
            --drawer-item-font-weight: normal;
            --drawer-item-text-align: center;
            --drawer-item-cursor: pointer;
            --drawer-item-padding-left: 5px;

            --drawer-item-hover-background-color: var(--gray-a);

        }

        .drawer {
            position: var(--drawer-position);
            height: var(--drawer-height);
            width: var(--drawer-width);
            top: var(--drawer-top);
            left: var(--drawer-left);
            z-index: var(--drawer-z-index);
            background-color: var(--drawer-background-color);
            overflow-x: var(--drawer-overflow-x); 
            border-color: var(--drawer-border-color);
            border-width: var(--drawer-border-width);
            border-style: var(--drawer-border-style);
            padding-top: var(--drawer-padding-top); 
            transition: var(--drawer-transition); 
        }

        .drawer-hidden {
            position: var(--drawer-position);
            height: var(--drawer-height);
            width: var(--drawer-width);
            top: var(--drawer-top);
            left: var(--drawer-left);
            z-index: var(--drawer-z-index);
            background-color: var(--drawer-background-color);
            overflow-x: var(--drawer-overflow-x); 
            border-color: var(--drawer-border-color-hidden);
            border-width: var(--drawer-border-width-hidden);
            border-style: var(--drawer-border-style-hidden);
            padding-top: var(--drawer-padding-top); 
            transition: var(--drawer-transition); 
        }

        .drawer a {
            display: var(--drawer-a-display);
            color: var(--drawer-a-color);
            text-decoration: var(--drawer-a-text-decoration);
            font-family: var(----drawer-a-font-family);
            font-size: var(--drawer-a-font-size);
            font-weight: var(--drawer-a-font-weight);
            padding: var(--drawer-a-padding);
            transition: var(--drawer-a-transition);
        }
        .drawer .drawer-close-button {
            position: var(--drawer-close-button-position);
            top: var(--drawer-close-button-top);
            right: var(--drawer-close-button-right);
            font-family: var(--drawer-close-button-font-family);
            font-size: var(--drawer-close-button-font-size);
            font-weight: var(--drawer-close-button-font-weight);
        }
        .drawer-open-button {
            position: var(--drawer-open-button-position);
            top: var(--drawer-open-button-top);
            left: var(--drawer-open-button-left);
            cursor: var(--drawer-open-button-cursor);
        }
        .drawer-item {
            color: var(--drawer-item-color);
            background-color: var(--drawer-item-background-color);
            width: var(--drawer-item-width);
            overflow-x: var(--drawer-item-overflow-x); 
            font-family: var(--drawer-item-font-family);
            font-size: var(--drawer-item-font-size);
            font-weight: var(--drawer-item-font-weight);
            text-align: var(--drawer-item-text-align);
            cursor: var(--drawer-item-cursor);
            padding-left: var(--drawer-item-padding-left);
        }
        .drawer-item:hover {
            background-color: var(--drawer-item-hover-background-color);
        }

        @media screen and (max-height: 450px) {
            .drawer {padding-top: var(--drawer-padding-top-small-screen);}
            .drawer a {font-size: var(--drawer-a-font-size-small-screen);}
        }
    </style>
    <component-markup>
        <div id="{id}" class="drawer-hidden">
            <a id="{id}CloseButton" class="drawer-close-button" href="javascript:void(0)" onclick="$obj.closeDrawer()">&times;</a>
            <component-slot id="{id}Slot"></component-slot>
        </div>
        <span id="{id}Button" class="drawer-open-button" onclick="$obj.openDrawer()">{title}</span>
    </component-markup>
    <test-script>
    </test-script>
</custom-component>