<custom-component>
    <script>
        //# sourceURL=html/components/file-selector.html
        class FileSelector extends Component {
            static msgs = {
                FILE_SELECTED: `FILE_SELECTED`
            }
            setSelectedFile(event) { 
                this.vars.selectedFile = event.target.files[0]
                Queue.broadcast(FileSelector.msgs.FILE_SELECTED, { event, component: this })
            }
            props = {
                acceptedFileTypes: `image/jpeg, image/png, image/jpg, image/gif`
            }
            vars = {
                selectedFile: ``
            }
        }
    </script>
    <style>
    </style>
    <component-markup>
        <div id="{id}" class="flex-col">
            <input id="{id}Control" type="file" accept="{acceptedFileTypes}" onchange="$obj.setSelectedFile(event)">
        </div>    
    </component-markup>
    <test-script>
    </test-script>
</custom-component>