<custom-component>
    <script>
        //# sourceURL=html/components/list.html
        class List extends Component {
            static msgs = {
                LIST_BEFORE_ITEM_SELECTED:      `LIST_BEFORE_ITEM_SELECTED`,
                LIST_AFTER_ITEM_SELECTED:       `LIST_AFTER_ITEM_SELECTED`,
                LIST_BEFORE_ITEM_UNSELECTED:    `LIST_BEFORE_ITEM_UNSELECTED`,
                LIST_AFTER_ITEM_UNSELECTED:     `LIST_AFTER_ITEM_UNSELECTED`,
                LIST_BEFORE_CLEARED:            `LIST_BEFORE_CLEARED`,
                LIST_AFTER_CLEARED:             `LIST_AFTER_CLEARED`
            }
            showList(optionalList, optionalImageFieldName, optionalTitleFieldName) {
                if (optionalList) { this.vars.items = optionalList }
                if (optionalImageFieldName) { this.vars.itemImageField = optionalImageFieldName }
                if (optionalTitleFieldName) { this.vars.itemTitleField = optionalTitleFieldName }
                this.clearList()
                for (let loop = 0; loop < this.vars.items.length; loop++) {
                    const item = this.vars.items[loop]
                    const imageURL = item[this.vars.itemImageField]
                    const title = item[this.vars.itemTitleField]

                    if (!imageURL && !title) {
                        console.warn(`Skipping list item that has no image URL and no title.`)
                        continue
                    }

                    const wrapperDiv = document.createElement(`div`)
                    const wrapperDivId = `${this.id}ListItemWrapper${loop}`
                    const itemClicked = () => { 
                        this.vars.itemIndex = loop
                        this.selectItem()
                    }

                    wrapperDiv.id = wrapperDivId
                    wrapperDiv.classList.add(`list-item`)
                    wrapperDiv.addEventListener("click", itemClicked)

                    if (imageURL) {
                        const itemImage = document.createElement(`img`)
                        const itemImageId = `${this.id}ListItemImage${loop}`

                        itemImage.id = itemImageId
                        itemImage.src = imageURL
                        itemImage.classList.add(`list-item-image`)
                        wrapperDiv.appendChild(itemImage)
                    }
                    if (title) {
                        const titleDiv = document.createElement(`div`)
                        const titleId = `${this.id}ListItemTitle${loop}`
                        
                        titleDiv.id = titleId
                        titleDiv.classList.add(`list-item-title`)
                        titleDiv.innerText = title
                        wrapperDiv.appendChild(titleDiv)
                    }
                    this.ListWrapperElement.appendChild(wrapperDiv)
                }
                this.selectItem()
            }
            clearList() { 
                Queue.broadcast(List.msgs.LIST_BEFORE_CLEARED, { index: loop, element: item, component: this })
                this.ListWrapperElement.removeChildren() 
                Queue.broadcast(List.msgs.LIST_AFTER_CLEARED, { index: loop, element: item, component: this })
            }
            clearSelection() {
                for (let loop = 0; loop < this.ListWrapperElement.children.length; loop++) {
                    const item = this.ListWrapperElement.children[loop]

                    Queue.broadcast(List.msgs.LIST_BEFORE_ITEM_UNSELECTED, { index: loop, element: item, component: this })
                    item.classList.remove(`list-item-selected`)
                    item.classList.add(`list-item`)
                    Queue.broadcast(List.msgs.LIST_AFTER_ITEM_UNSELECTED, { index: loop, element: item, component: this })
                }
            }
            selectItem(index) {
                if (this.vars.items.length >= index) {
                    console.error(`Index ${index} is out of range for list ${this.id}.`)
                    return
                }
                Queue.broadcast(List.msgs.LIST_BEFORE_ITEM_SELECTED, { index: this.vars.itemIndex, element: item, component: this })
                this.vars.itemIndex = index

                const item = this.ListWrapperElement.children[this.vars.itemIndex]

                item.classList.remove(`list-item`)
                item.classList.add(`list-item-selected`)
                Queue.broadcast(List.msgs.LIST_AFTER_ITEM_SELECTED, { index: this.vars.itemIndex, element: item, component: this })
            }
            getSelectedItem() { return this.vars.items[this.vars.itemIndex] }
            getSelectedElement() { return this.ListWrapperElement.children[this.vars.itemIndex] }
            itemSelected(index) {
                this.clearSelection()
                this.selectItem(index)
            }
            vars = {
                title: ``,
                items: [],
                itemIndex: 0,
                itemImageField: `image`,
                itemTitleField: `title`
            }
        }
    </script>
    <style>
        :root {
            --list-display: flex;
            --list-flex-direction: column;
            --list-width: 100%;
            --list-background-color: var(--bg-primary);

            --list-title-color: var(--amber-500);

            --list-item-padding: none;
            --list-item-margin: 3px;
            --list-item-cursor: pointer;
            --list-item-border-color: var(--amber-500);
            --list-item-border-style: none;
            --list-item-border-width: 0;

            --list-item-selected-padding: none;
            --list-item-selected-margin: 3px;
            --list-item-selected-cursor: pointer;
            --list-item-selected-border-color: var(--amber-500);
            --list-item-selected-border-style: solid;
            --list-item-selected-border-width: 2px;

            --list-item-title-color: var(--primary-text-color);
            --list-item-title-background-color: var(--bg-primary);
            --list-item-title-text-align: left;
            --list-item-title-font-family: var(--primary-font-family);
            --list-item-title-font-size: var(--text-2-font-size);
            --list-item-title-font-weight: var(--text-2-font-weight);
            --list-item-title-cursor: pointer;
            --list-item-title-padding: none;
            --list-item-title-margin: 3px;

            --list-item-image-width: 100px;
        }
        
        .list{
            display: var(--list-display);
            flex-direction: var(--list-flex-direction);
            width: var(--list-width);
            background-color: var(--list-background-color);
        }
        .list-item{
            padding: var(--list-item-padding);
            margin: var(--list-item-margin);
            cursor: var(--list-item-cursor);
            border-color: var(----list-item-border-color);
            border-style: var(----list-item-border-style);
            border-width: var(----list-item-border-width);
        }    
        .list-item-selected{
            padding: var(--list-item-selected-padding);
            margin: var(--list-item-selected-margin);
            cursor: var(--list-item-selected-cursor);
            border-color: var(----list-item-selected-border-color);
            border-style: var(----list-item-selected-border-style);
            border-width: var(----list-item-selected-border-width);
        }
        .list-item-title{
            color: var(--list-item-title-color);
            background-color: var(--list-item-background-color);
            text-align: var(--list-item-title-text-align);
            font-family: var(--list-item-title-font-family);
            font-size: var(--list-item-title-font-size);
            font-weight: var(--list-item-title-font-weight);
            cursor: var(--list-item-title-cursor);
            padding: var(--list-item-title-padding);
            margin: var(--list-item-title-margin);
        }
        .list-item-image{
            width: var(--list-item-image-width);
        }
    </style>
    <component-markup>
        <span id="{id}" class="list flex-col bg-blue-gray-900 w100">
            <span id="{id}Title" class="amber-500">{title}</span>
            <span id="{id}ListWrapper" class="flex-col flex-wrap flex-space-around"></span>
        </span>
    </component-markup>
    <test-script>
    </test-script>
</custom-component>


