<custom-component>
    <script>
        //# sourceURL=html/components/imgur/imgur-content-panel.html
        class ImgurContentPanel extends SlottedComponent {
            initialize(id) {
                super.initialize(id)

                const callback = () => { this.reqisterWithQueue() }

                Queue.register(this, Messages.SITE_LOADED, callback)
            }
            reqisterWithQueue() {
                Queue.register(this, Drawer.msgs.DRAWER_BEFORE_OPENED, (drawer) => { this.Element.style.marginLeft = drawer.props.contentWidth })
                Queue.register(this, Drawer.msgs.DRAWER_BEFORE_CLOSED, (drawer) => { this.Element.style.marginLeft = "0" })
                Queue.register(this, ImgurMenu.msgs.IMGUR_MENU_ADD_ALBUM, (drawer) => {
                    alert(`IMGUR_MENU_ALBUM`)
                    if (this.isSlotted(`${this.id}Slot}`)) { this.unslot(`${this.id}Slot}`) }
                })
                Queue.register(this, ImgurMenu.msgs.IMGUR_MENU_DELETE_ALBUM, (drawer) => {
                    alert(`IMGUR_MENU_IMAGE`)
                    if (this.isSlotted(`${this.id}Slot}`)) { this.unslot(`${this.id}Slot}`) }
                })
            }
        }
    </script>
    <style>
        :root {
            --imgur-content-panel-width: 100%;
            --imgur-content-panel-height: 100%;
            --imgur-content-panel-transition: margin-left 0.5s;
        }
        .imgur-content-panel {
            width: var(--imgur-content-panel-width);
            height: var(--imgur-content-panel-height);
            transition: var(--imgur-content-panel-transition);
        }
    </style>
    <component-markup>
        <div id="{id}" class="w100 h100">
            <component-slot id="{id}Slot"></component-slot>
        </div>
    </component-markup>
    <test-script>
    </test-script>
</custom-component>