<custom-component>
    <script>
        //# sourceURL=html/components/imgur/imgur-menu.html
        class ImgurMenu extends Component {
            static msgs = {
                IMGUR_MENU_ALBUM: `IMGUR_MENU_ALBUM`,
                IMGUR_MENU_IMAGE: `IMGUR_MENU_IMAGE`,
            }
            onDescendantsMounted() {
                super.onDescendantsMounted()
                Queue.register(this, Button.msgs.BUTTON_CLICKED, (button) => {
                    if (button.id === this.ButtonAlbums.id) { Queue.broadcast(ImgurMenu.msgs.IMGUR_MENU_ALBUM, this) }
                    else if (button.id === this.ButtonImages.id) { Queue.broadcast(ImgurMenu.msgs.IMGUR_MENU_IMAGE, this) }
                })
            }
        }
    </script>
    <style>
        :root {
            --imgur-menu-item-color: var(--gray-4);
            --imgur-menu-item-background-color: var(--gray-e);
            --imgur-menu-item-overflow-x: hidden; 
            --imgur-menu-item-font-family: var(--primary-font-family);
            --imgur-menu-item-font-size: var(--text-2-font-size);
            --imgur-menu-item-font-weight: normal;
            --imgur-menu-item-cursor: pointer;
            --imgur-menu-item-padding-left: 10px;

            --imgur-menu-item-hover-background-color: var(--gray-a);
        }

        .imgur-menu-item {
            color: var(--imgur-menu-item-color);
            background-color: var(--imgur-menu-item-background-color);
            overflow-x: var(--imgur-menu-item-overflow-x); 
            font-family: var(--imgur-menu-item-font-family);
            font-size: var(--imgur-menu-item-font-size);
            font-weight: var(--imgur-menu-item-font-weight);
            cursor: var(--imgur-menu-item-cursor);
            padding-left: var(--imgur-menu-item-padding-left);
        }
        .imgur-menu-item:hover {
            background-color: var(--imgur-menu-item-hover-background-color);
        }
    </style>
    <component-markup>
        <span id="{id}" class="w100">
            <include-html include-in="imgur-menu.html" src="./html/components/accordion.html" component-class="Accordion" component-id="{id}Accordion">
                <include-props>{title: `Imgur Connect`}</include-props>
            </include-html>
            <slot-markup for-component-id="{id}Accordion" for-slot="{id}AccordionSlot">
                <span id="{id}ImgurButtonWrapper" class="flex-col">
                    <include-html include-in="imgur-menu.html" src="./html/components/button.html" component-class="Button" component-id="{id}ButtonAlbums">
                        <include-vars>{title: `Albums`}</include-vars>
                    </include-html>
                    <include-html include-in="imgur-menu.html" src="./html/components/button.html" component-class="Button" component-id="{id}ButtonImages">
                        <include-vars>{title: `Images`}</include-vars>
                    </include-html>
                </span>
            </slot-markup>
        </span>
    </component-markup>
    <test-script>
    </test-script>
</custom-component>